.container {
    height: 100vh;
}

.container-F {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(
        #2f2f4d,
        #11091a
    );
}

h1 {
    padding: 10px;
    text-align: center;
    color: #bab195;
}