.container-titulo {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-titulo h1 {
    font-weight: 400;
    font-size: 34pt;
    font-family: 'Times New Roman', Times, serif;
}

.container-titulo p {
    font-weight: 500;
    font-family: serif;
    font-size: 14pt;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    margin: 10px;
}